{% extends "layout.html" %}

{%block title%}
    {{user}}
{%endblock%}

{%block body%}
<div class="text-center">
    <h1>DashBoard</h1>
    {% comment %} {% include "user/layout2.html" %} {% endcomment %}
</div>
<br>
<br>
<br>
<br>
<div class="container text-center">
{%for posts in userposts%}
    <div class="row  justify-content-center">
        <div class="col-8" id="dashboarditem">
        <a href="/posts/edit/?p={{posts.ulink}}" style="text-decoration:none; color:black;"><b>{{posts.title}}</b></a> 
        </div>
        <hr class="justify-content-center col-8">
    </div>
{%endfor%}
</div>

{%endblock%}